<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Edit Page</title>
  <link rel="stylesheet" href="/css/edit.css">
</head>

<body>
  <h1>Edit Pose Page</h1>

  <form action="/yoga-guide/<%= yoga.id %>?_method=PUT" method="POST">
    <input type="text" name="name" placeholder="Name" value="<%= yoga.name %>">
    <br>
    <br>
    <input type="text" name="description" placeholder="Description" value="<%= yoga.description %>">
    <br>
    <br>
    <input type="text" name="image" placeholder="Upload Image" value="<%= yoga.image %>">
    <br>
    <br>
    <input type="text" name="defficulty" placeholder="Level of Difficulty" value="<%= yoga.difficulty %>">
    <br>
    <br>
    <input type="text" name="tipe" placeholder="Tips" value="<%= yoga.tips %>">
    <br>
    <br>
    <input type="text" name="targets" placeholder="Areas This Pose Targets" value="<%= yoga.targets %>">
    <br>
    <br>
    <input type="text" name="modifications" placeholder="Modifications for Safety" value="<%= yoga.modifications %>">
    <br>
    <br>
    <input type="submit" value="Edit this Pose">
    <br>
    <br>
  </form>
</body>

</html>